/.vs
/libs
/COM3D2.BetterEditMenuFilter/obj
/COM3D2.BetterEditMenuFilter/bin
/COM3D2.BetterEditMenuFilter.MTLProvider/bin
/COM3D2.BetterEditMenuFilter.MTLProvider/obj
/COM3D2.BetterEditMenuFilter/*.user
