/.vs
/libs
/COM3D2.AlternativeEditMenuFilter/obj
/COM3D2.AlternativeEditMenuFilter/bin
/COM3D2.AlternativeEditMenuFilter.MTLProvider/bin
/COM3D2.AlternativeEditMenuFilter.MTLProvider/obj
/COM3D2.AlternativeEditMenuFilter/*.user
